.add-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #e5e5e5;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 100px;
}